{% extends 'base.html.twig' %}

{% block content %}
    <section class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light mb-4">Choisir les jeux</h1>

                    <form class="needs-validation" novalidate="" action="/game/new" method="post">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ttmc" name="ttmc" checked>
                            <label class="custom-control-label" for="ttmc">Tu te mets combien ?</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="tp" name="tp">
                            <label class="custom-control-label" for="tp">Trivial Pursuit</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cc" name="cc" checked>
                            <label class="custom-control-label" for="cc">Combat de coqs</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="sv" name="sv" checked>
                            <label class="custom-control-label" for="sv">Science & Vie</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="fq" name="fq" checked>
                            <label class="custom-control-label" for="fq">France en 2000 questions</label>
                        </div>

                        <hr class="mb-4">

                        <div class="row">
                            <div class="col-6 offset-3">
                                <div class="form-group row">
                                    <label for="nb_questions">Nombre de questions par jeu</label>
                                    <input type="number" class="form-control" id="nb_questions"
                                           placeholder="Nombre de questions" name="nb_questions"
                                           value="5" min="1">
                                </div>
                            </div>
                        </div>

                        <hr class="mb-4">

                        <div class="row">
                            <div class="col-6 offset-3">
                                <div class="form-group row">
                                    <input type="text" class="form-control" placeholder="Joueur 1" name="player_one">
                                </div>

                                <div class="form-group row">
                                    <input type="text" class="form-control" placeholder="Joueur 2" name="player_two">
                                </div>

                                <div class="form-group row">
                                    <input type="text" class="form-control" placeholder="Joueur 3" name="player_three">
                                </div>

                                <div class="form-group row">
                                    <input type="text" class="form-control" placeholder="Joueur 4" name="player_four">
                                </div>

                                <div class="form-group row">
                                    <input type="text" class="form-control" placeholder="Joueur 5" name="player_five">
                                </div>

                                <div class="form-group row">
                                    <input type="text" class="form-control" placeholder="Joueur 6" name="player_six">
                                </div>
                            </div>
                        </div>

                        <hr class="mb-4">
                        <button class="btn btn-outline-primary btn-lg w-25" type="submit" name="submit">Démarrer la partie</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
